.venv/
**/__pycache__/
*.pyc
*.egg-info/
.ruff_cache/
.vscode/
.git/
.gitignore

models/
assets/
logs/

llama_cpp_bin/
simulstreaming_lib/

temp/
demo/
*.md
LICENSE
docker-compose*.yml
.env
.env.example
